body {
    background: linear-gradient(250deg, #f76e2f, #f10741);
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fffff1;
    height: max-content;
}

@font-face {
    font-family: GTWalsheimPro;
    src: local(GTWalsheimPro),
        url(./assets/fonts/GTWalsheimPro/GTWalsheimPro-UltraLightOblique.woff2)
            format("woff2");
}

@font-face {
    font-family: GTWalsheimProBold;
    src: local(GTWalsheimProBold),
        url(./assets/fonts/GTWalsheimPro/GTWalsheimPro-UltraBoldOblique.woff2)
            format("woff2");
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1% 0;
    gap: 10px;
    justify-content: center;
    max-width: 1200px;
}

.search-container input {
    padding: 1%;
    border-radius: 20px;
    border: 1px solid transparent;
    width: 25%;
    max-width: 1200px;
}

.search-button {
    font-family: GTWalsheimPro, serif;
    width: fit-content;
}

.header-container {
    width: 100%;
    height: 10rem;
    position: relative;
}
.inner-content {
    width: 90%;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}

.song-resume {
    font-family: GTWalsheimProBold, serif;
    font-size: 3em;
    background: linear-gradient(319deg, #444444, #0b0b0b);
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header-container img {
    width: 15rem;
    height: 15rem;
}

@media (max-width: 900px) {
    .song-resume {
        font-size: 2rem;
        padding: 5%;
    }
}

@media (max-width: 540px) {
    .song-resume {
        font-size: 1.5rem;
        padding: 3%;
    }
}
